body {
  background-color: #e0f7e0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  width: 60vh;
  height: 70vh;
  border-radius: 10px;
  border: solid 1px #2e7d32;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 12px rgba(46, 125, 50, 0.3);
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.header {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  color: #26842c;
}

.title {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #388e3c;
}

label {
  display: block;
  margin-top: 30px;
  font-size: 18px;
  color: #2e7d32;
}

input {
  display: block;
  margin: 10px auto;
  padding: 8px;
  width: 80%;
  max-width: 300px;
  border: solid 1px #4caf50;
  border-radius: 6px;
  background-color: #f1f8e9;
}

input:focus {
  outline: 2px solid #2e7d32;
  outline-offset: 2px;
}

button {
  margin-top: 32px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(76, 175, 80, 0.3);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

button:hover {
  background-color: #388e3c;
  transform: translateY(-5%);
}

.backToLogin {
  margin-top: 22px;
  font-size: 16px;
  color: #2e7d32;
  cursor: pointer;
  transition: color 0.3s ease;
}

.backToLogin:hover {
  color: #1b5e20;
}

@font-face {
  font-family: 'CustomFont';
  src: url('./fonts/Bruce Forever.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}