body {
  background-color: rgb(174, 255, 174);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin: 0; 
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width:50vh;
    background-color: #f1f1f1;  
    border-radius: 4%;
    border: solid 2px;
    border-color:   rgb(0, 255, 0); 
}

.header{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    width: 100%;
}

.title{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.containerOptions{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    border: 1.5px solid;
    border-color: rgb(0, 255, 0);
}

.buttons{
    margin: 0 1rem;
    
}